<!DOCTYPE html>
<html>
<head>
    <title>Belfri - someone requested a lesson!</title>
</head>
<body>
<p>Dear {teacher},</p>
<p> {user} has requested a lesson with you!</p>
<p>Here are the details:</p>
<table>
    <tr>
        <td>Offer</td>
        <td>{offer}</td>
    </tr>
    <tr>
        <td>Date</td>
        <td>{date}</td>
    </tr>
    <tr>
        <td>Duration</td>
        <td>{duration}</td>
    </tr>


</table>
<!-- accept and decline buttons -->
<a href="{acceptLink}">Accept</a>
<a href="{declineLink}">Decline</a>
</body>
</html>