.teacherRegForm {
    width: 800;
}

.datePicker {
  margin-left: 1px;
  margin-right: 10px;
  order: -1;
  width: 100%;
}

.input {
  width: 400px;
}

@media(max-width: 600px) {
  .input{
    width: 300px;
  }
}

@media(max-width: 400px) {
  .input{
    width: 200px;
  }
}